@import "tailwindcss";

@keyframes slide {
  to {
    transform: translateX(calc(-108% - 1rem));
  }
}

/* styles only for the repo description inner content not reachable with conventional tailwindcss */

.repo-description h1 {

  font-weight: bold;
  font-size: var(--text-2xl); /* 1.5rem (24px) */ 
  line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
}

.repo-description h2 {
  font-weight: bold;
  font-size: var(--text-xl); /* 1.25rem (20px) */ 
  line-height: var(--text-xl--line-height); /* calc(1.75 / 1.25) */
}


.repo-description tr {
  text-align: center;
}

.repo-description tr:nth-child(even) {
  background-color: var(--color-gray-200);
}


/* ------------------- */